.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page__profile {
  margin: 0 auto;
  padding: 74px 0 70px;
}

@media screen and (max-width: 568px) {
  .page__profile {
    padding: 74px 0 40px;
  }
}

.profile__title {
  max-width: 410px;
  margin: 0 0 123px;
  font-family: 'Inter', Arial, Helvetica, sans-serif; ;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000;
}

@media screen and (max-width: 568px) {
  .profile__title {
    max-width: 260px;
    margin: 0 0 80px;
  }
}

.profile__form {
  width: 410px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 568px) {
  .profile__form {
    width: 260px;
  }
}

.profile__container-inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.profile__conainer-name {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 0 16px;
  border-bottom: 1px solid #e8e8e8;
}

.profile__conainer-email {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 17px 0 0;
}

.profile__subtitle {
  max-width: 80px;
  margin: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif; ;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #000;
}

.profile__input-info {
  width: 300px;
  border: none;  
  font-family: 'Inter', Arial, Helvetica, sans-serif; ;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: end;
  color: #000;
  
}

@media screen and (max-width: 568px) {
  .profile__input-info {
    max-width: 170px;
  }
}

.profile__button-redact {
  margin: 220px 0 0;
  padding: 0;
  border: none;
  width: 410px;
  height: 16px;
  background-color: #fafafa;
  border: none;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  color: #000;
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 568px) {
  .profile__button-redact {
    margin: calc(100vh - 401px) 0 0;
    width: 300px;
    height: 15px;
    font-size: 12px;
    line-height: 15px;
  }
}

.profile__button-redact:hover {
  opacity: .85;
  transition: opacity .5s linear;
}

.profile__button-redact_inactive {
  margin: calc(100vh - 482px) 0 0;
  padding: 0;
  border: none;
  width: 410px;
  height: 16px;
  background-color: #fafafa;
  border: none;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  color: #e8e8e8;
  text-align: center;
  cursor: default;
}

@media screen and (max-width: 568px) {
  .profile__button-redact_inactive {
    margin: calc(100vh - 407px) 0 0;
    width: 300px;
    height: 15px;
    font-size: 12px;
    line-height: 15px;
  }
}

.profile__button-logout {
  margin: 16px 0 0;
  padding: 0;
  border: none;
  width: 410px;
  height: 16px;
  background-color: #fafafa;
  border: none;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ee3465;
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 568px) {
  .profile__button-logout {
    width: 300px;
    height: 15px;
    font-size: 12px;
    line-height: 15px;
  }
}

.profile__button-logout:hover {
  opacity: .85;
  transition: opacity .5s linear;
}