.search-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page__search-form {
  padding: 80px 70px 0;
  margin: 0 0 10px;
  box-sizing: border-box;
}

@media screen and (max-width: 984px) {
  .page__search-form {
    padding: 80px 30px 0;
  }
}

@media screen and (max-width: 568px) {
  .page__search-form {
    padding: 80px 14px 0;
  }
}

.search-form__form {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.search-form__input {
  margin: 0;
  padding: 16px 0 16px 20px;
  box-sizing: border-box;
  border: none;
  width: calc(100vw - 184px);
  height: 50px;
  border-radius: 8px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: start;
  cursor: pointer;
  color: #a0a0a0;
  background-color: #f4f4f4;
}

@media screen and (max-width: 984px) {
  .search-form__input {
    width: calc(100vw - 114px);
  }
}

@media screen and (max-width: 568px) {
  .search-form__input {
    padding: 13px 0 13px 13px;
    width: calc(100vw - 82px);
    height: 44px;
  }
}

.search-form__button-search {
  max-width: 44px;
  width: 100%;
  height: 44px;
  border-radius: 5px;
  border: none;
  background-image: url(../../images/SearchButton.svg);
  background-size: cover;
  cursor: pointer;
}

.search-form__button-search:hover {
  opacity: .85;
  transition: opacity .5s linear;
}

.search-form__container-checkbox {
  width: 100%;
  padding: 28px 0 39px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
  border-bottom: 1px solid #e8e8e8;
}

@media screen and (max-width: 984px) {
  .search-form__container-checkbox {
    padding: 41px 0 39px;
  }
}

@media screen and (max-width: 568px) {
  .search-form__container-checkbox {
    padding: 47px 0 39px;
    gap: 13px;
  }
}

.search-form__title-checkbox {
  margin: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: start;
  color: #000;
}

@media screen and (max-width: 568px) {
  .search-form__title-checkbox {
    font-size: 11px;
  }
}

.search-form__slider-checkbox_position_right {
  display: inline-block;
  width: 34px;
  height: 14px;
  border-radius: 20px;
  background: #2BE080;
  z-index: 0;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  transition-duration: 0.3s;
}

@media screen and (max-width: 568px) {
  .search-form__slider-checkbox_position_right {
    width: 36px;
  }
}

.search-form__slider-checkbox_position_right:after {
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 20px;
  background: #fff;
  top: 2px;
  left: 22px;
  transition-duration: 0.3s;
  position: absolute;
  z-index: 1;
}

@media screen and (max-width: 568px) {
  .search-form__slider-checkbox_position_right:after {
    left: 24px;
  }
}

.search-form__slider-checkbox_position_left {
  display: inline-block;
  width: 34px;
  height: 14px;
  border-radius: 20px;
  background: #ff4040;
  z-index: 0;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  transition-duration: .3s;
}

@media screen and (max-width: 568px) {
  .search-form__slider-checkbox_position_left {
    width: 36px;
  }
}

.search-form__slider-checkbox_position_left:after {
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 20px;
  background: #fff;
  top: 2px;
  left: 2px;
  transition-duration: 0.3s;
  position: absolute;
  z-index: 1;
}