.header {
  width: 100%;
  min-height: 74px;
}

.page__header {
  margin: 0;
  padding: 0 70px;
  box-sizing: border-box;
}

@media screen and (max-width: 984px) {
  .page__header {
    padding: 0 30px;
  }
}

@media screen and (max-width: 568px) {
  .page__header {
    padding: 0 14px;
  }
}